/* TOP TOOLBAR */
#create #fileactions a#save { background-image:url(../img/btn_sys_save.png); }
#create #fileactions a#open { background-image:url(../img/btn_sys_open.png); }
#create #fileactions a#download { background-image:url(../img/btn_sys_download.png); }
#create #fileactions a#clear { background-image:url(../img/btn_sys_clear.png); }
#create #fileactions a#undo { background-image:url(../img/btn_sys_undo.png); }
#create #fileactions a#redo { background-image:url(../img/btn_sys_redo.png); }

/* LEFT TOOLBAR */
#create #left a#select { background-image:url(../img/btn_tool_select.png); }
#create #left a#stamp { background-image:url(../img/btn_tool_stamp.png); }
#create #left a#shape { background-image:url(../img/btn_tool_shape.png); }
#create #left a#fill { background-image:url(../img/btn_tool_fill.png); }
#create #left a#brush { background-image:url(../img/btn_tool_brush.png); }
#create #left a#erase { background-image:url(../img/btn_tool_erase.png); }
#create #left a#text { background-image:url(../img/btn_tool_text.png); }

/* RIGHT TOOLBAR */
#opac_canvas { background:#000 url(../img/obj_slider_bg-opacity.png) bottom right no-repeat; }
#thick_canvas { background:#000 url(../img/obj_slider_bg-thickness.png) bottom right no-repeat; }

/* EXTRA TOOLBAR */
#create #list a#select_select { background-image:url(../img/btn_tool_select-selects.png); }
#create #list a#select_zoom { background-image:url(../img/btn_tool_select-zoom.png); }
#create #list a#stamp_butterfly { background-image:url(../img/btn_tool_stamp-butterfly.png); }
#create #list a#stamp_blackwidow { background-image:url(../img/btn_tool_stamp-blackwidow.png); }
#create #list a#stamp_captain1 { background-image:url(../img/btn_tool_stamp-captain1.png); }
#create #list a#stamp_captain2 { background-image:url(../img/btn_tool_stamp-captain2.png); }
#create #list a#stamp_fury { background-image:url(../img/btn_tool_stamp-fury.png); }
#create #list a#stamp_hawkeye { background-image:url(../img/btn_tool_stamp-hawkeye.png); }
#create #list a#stamp_hulk1 { background-image:url(../img/btn_tool_stamp-hulk1.png); }
#create #list a#stamp_hulk2 { background-image:url(../img/btn_tool_stamp-hulk2.png); }
#create #list a#stamp_ironman1 { background-image:url(../img/btn_tool_stamp-ironman1.png); }
#create #list a#stamp_ironman2 { background-image:url(../img/btn_tool_stamp-ironman2.png); }
#create #list a#stamp_thor1 { background-image:url(../img/btn_tool_stamp-thor1.png); }
#create #list a#stamp_thor2 { background-image:url(../img/btn_tool_stamp-thor2.png); }
#create #list a#shape_line { background-image:url(../img/btn_tool_shape-line.png); }
#create #list a#shape_circle { background-image:url(../img/btn_tool_shape-circle.png); }
#create #list a#shape_square { background-image:url(../img/btn_tool_shape-square.png); }
#create #list a#shape_triangle { background-image:url(../img/btn_tool_shape-triangle.png); }
#create #list a#fill_blob { background-image:url(../img/btn_tool_fill-blob.png); }
#create #list a#fill_bg { background-image:url(../img/btn_tool_fill-bg.png); }
#create #list a#brush_normal { background-image:url(../img/btn_tool_brush-brush.png); }
#create #list a#brush_calligraphy { background-image:url(../img/btn_tool_brush-calligraphy.png); }
#create #list a#brush_spraycan { background-image:url(../img/btn_tool_brush-spraycan.png); }
#create #list a#brush_pencil { background-image:url(../img/btn_tool_brush-pencil.png); }
#create #list a#text_bubble { background-image:url(../img/btn_tool_text-bubble.png); }
#create #list a#text_box { background-image:url(../img/btn_tool_text-box.png); }



/* BASE STYLES */
body { 
	background:#000; 
	margin:0; 
	padding:0;
}
.clear { clear:both; }
#create {
	width:900px;
	margin:0 auto;
	background:#000;
}
#create a { cursor:pointer;	}
#create #tbl {
	display:table;
	width:100%;
	height:100%;	
}
#create #left,
#create #center,
#create #right {
	display:table-cell;
	vertical-align:top;	
}

#stamps,
#shapes,
#fills,
#brushes,
#texts { display:none; }



/* TOP */
#create #fileactions { padding:7px 96px 7px 75px; }
#create #fileactions span:last-of-type { float:right; }
#create #fileactions a {
	display:inline-block;
	width:77px;
	height:43px;
	background-position:top center;
	background-repeat:no-repeat;
	text-indent:-9999px;
}
#create #fileactions a:hover { background-position:center center; }
#create #fileactions a:active { background-position:bottom center; }



/* LEFT */
#create #left {
	width:67px;
	padding:0 4px;	
}
#create #left a {
	display:block;
	width:67px;
	height:76px;
	background-position:top center;
	background-repeat:no-repeat;
	text-indent:-9999px;
}
#create #left a:hover { background-position:center center; }
#create #left a:active,
#create #left a.active { background-position:bottom center;	}
#create #left a#dropper {
	background-image:url(../img/btn_tool.png);
	padding:18px 0 0 14px;
	width:53px;
	height:58px;	
}
#create #left a#dropper span {
	display:block;
	width:41px;
	height:41px;
	background:url(../img/btn_tool_drop.png) center center no-repeat;
	background-color:red;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;	
}



/* DRAWING CANVAS */
#create #center #drawing_canvas {
	background:#FFF;
	height:608px;
}



/* RIGHT */
#create #right {
	width:96px;	
	padding:0 3px;
}
#create #right #zoomslider,
#create #right #sizeslider,
#create #right #opacityslider {
	background:url(../img/obj_slider_bg.png) top left no-repeat;
	width:90px;
	height:38px;
	margin-bottom:6px;	
}
#create #right #colorpicker {
	background:#FFF;
	width:90px;
	height:300px;
}



/* EXTRA TOOLBAR */
#create #extratools {
	display:table;
	width:100%;
	padding:12px 0;
	height:39px;
}
#create #extratools #sleft,
#create #extratools #list,
#create #extratools #sright { display:table-cell; }
#create #sleft {
	width:75px;
	background:url(../img/btn_nav_left.png) top right no-repeat;
	text-indent:-9999px;	
}
#create #sleft:hover { background-position:bottom right;	}
#create #list {
	background:#404040;
	-webkit-box-shadow:inset 0px 0px 8px rgba(0,0,0,0.75);
	-moz-box-shadow:inset 0px 0px 8px rgba(0,0,0,0.75);
	box-shadow:inset 0px 0px 8px rgba(0,0,0,0.75);	
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
#create #list a {
	display:inline-block;
	width:39px;
	height:39px;
	margin:0 6px;
	background-position:top center;
	background-repeat:no-repeat;
	text-indent:-9999px;
}
#create #list a:first-child { margin-left:12px; }
#create #list a:last-child { margin-right:12px; }
#create #list a:hover,
#create #list a:active,
#create #list a.active { background-position:bottom center;	}
#create #sright {
	width:98px;
	background:url(../img/btn_nav_right.png) top left no-repeat;
	text-indent:-9999px;	
}
#create #sright:hover { background-position:bottom left; }

#create #sleft,
#create #sright { background:none; }

@media (max-width:797px) {
	#create { position:relative; width:100%; }
	#create #tbl,
	#create #left,
	#create #center,
	#create #right { display:block; }
	#create #fileactions { padding:3px; }
	#create #fileactions span:last-of-type { float:none; }
	#create #left { width:auto; padding:3px; position:relative; }
	#create #left a { display:inline-block; }
	#create #left a#dropper { position:absolute; top:0; right:0; }
	
	#create #sleft, #create #sright { display:none!important; }
	
	#create #right,
	#create #extratools { display:none; position:absolute; top:131px; background:#000; }
	#create #right { right:0; width:auto; }
	#create #extratools { left:0; padding:3px 5px; }
}

@media (max-width:575px) {
	#create #fileactions a, 
	#create #left a { background:none!important; width:auto; height:auto; text-indent:0; padding:1px 2px; color:#CCC; }
	#create #fileactions a:hover,
	#create #left a:hover { color:#FFF; text-decoration:underline; }
	#create #fileactions a:active,
	#create #fileactions a.active,
	#create #left a:active,
	#create #left a.active { color:#FFF; }
	#create #left a#dropper { background:none!important; position:relative; width:auto; height:auto; padding:1px 2px; }
	#create #left a#dropper span { display:inline-block; width:auto; height:auto; background:none!important; }
}